.card{
    width: 50%;
    float: left;
    .card-avatar{
        float: left;
        width: 70%;
        margin-left: 15%;
        margin-right: auto;
    }
    .card-title{
        float: left;
        width: 100%;
        text-align: center;
    }
    .card-description{
        width: 80%;
        float: left;
        margin-left: 10%;
        overflow: hidden;
    }
}

@media screen and (max-width: 800px){
    .card{
      width: 100%;
    }
  }
